#container {
    display: flex;
    justify-content: center;
    top: 125px;
    /* right: 150px; */
    position: relative;
    /* width: fit-content; */
    /* left: 50px; */
}

#post {
    padding: 20px;
    /* padding-top: 125px; */
    width: 600px;
    height: 600px;
    background: rgb(26, 26, 26);
    align-self: center;
    font-weight: normal;
    font-family: "varela round";
    padding-right: 50px;

    max-width: 950px;
    width: 700px;
}

#post h1{
    margin: 0;
    font-weight: bold;
}

#post h2{
    font-size: 20px;
    font-weight: normal;
}

#post p{
    padding-left: 10px;
    top: 14px;
    position: relative;
    font-size: 14px;
    height: fit-content;
}

#post img {
    max-width: 100%;
    border-radius: 10px;
}
 
@media (max-width: 900px) {
    #post {
        max-width: fit-content;
        padding: 35px;
        padding-right: 75px;
        width: 90%;
    }
}